# Ignore everything
*

!.tmux.conf
!.config/
!.config/hypr/
!.config/hypr/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/kitty/
!.config/kitty/*

# Allow the .gitignore itself
!.gitignore
!.bashrc
