
# Ignore everything
*

!.config/
!.config/hypr/
!.config/hypr/*
!.config/waybar/
!.config/waybar/*
!.config/wofi/
!.config/wofi/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/uwsm/
!.config/uwsm/*
!.config/kitty/
!.config/kitty/*
!.config/mako/
!.config/mako/*
!.config/fastfetch/
!.config/fastfetch/*

# Allow the .gitignore itself
!.gitignore
