
# Ignore everything
*

!.gitconfig
!.alacritty.toml

!.config/
!.config/hypr
!.config/hypr/*
!.config/waybar/
!.config/waybar/*
!.config/wofi/
!.config/wofi/*

# Allow the .gitignore itself
!.gitignore

