* {
    font-family: "0xProtoNerdFontMono";
    font-weight: 900;
    font-size: 14px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background: rgba(29,32,33,0.6);
}

tooltip label {
    color: #d4be98;
}

#gamemode {
    margin: 6px 6px 6px 6px;
    padding-left: 4px;
}

#custom-power {
    margin: 6px 6px 6px 0px;
    padding-left: 8px;
}

.modules-left {
    background: rgba(29,32,33,0.6);
    padding: 0px 10px;
    border-radius: 30px;
}

.modules-center {
    background: rgba(29,32,33,0.6);
    padding: 0px 10px;
    border-radius: 30px;
}

.modules-right {
    background: rgba(29,32,33,0.6);
    padding: 0px 10px;
    border-radius: 30px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#custom-power,
#cpu,
#memory,
#network,
#battery,
#gamemode,
#pulseaudio, 
#clock {
    color: #d4be98;
}

#cpu.critical,
#memory.critical {
    color: #db4740;
}

#workspaces {
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #d4be98;
}

#workspaces button.active {
    background-color: #3b4439;
    border-radius: 10px;
    color: #8bba7f;
}

#workspaces button.urgent {
    background-color: #4c3432;
    border-radius: 10px;
    color: #db4740;
}

#workspaces button:hover {
    opacity: 0.5;
}


menu {
  background-color: #282828;
  border: 1px solid #504945;
  color: #ebdbb2;
  border-radius: 12px;
  font-size: 18px;
  padding: 8px;
}

menuitem {
  background-color: #3c3836;
  color: #ebdbb2;
  border-bottom: 1px solid #504945;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px 20px;
  margin: 4px 0;
  min-width: 120px;
}

menuitem:hover {
  background-color: #504945;
  color: #fabd2f;
}
