* {
   font-family: "Roboto", monospace;
   outline: none;
}

#window {
    background: rgba(0,0,0,0);
}

#input {
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: #3B4252;
    color: white;
}

#inner-box {
    background-color: #383C4A;
}

#outer-box {
    margin: 2px;
    padding: 10px;

    background: linear-gradient(#383C4A, #383C4A) padding-box,
    linear-gradient(to bottom right, #33ccff, #00ff99) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;
}

#entry{
    border-radius: 20px;
    margin-top: 10px
}

#entry:nth-child(even){
    background-color: #404552;
}

image {
    padding-left: 5px;
}

#entry:selected {
    background-color: #4C566A;
}

#text:selected {
    background: transparent;
}

list {
    background-color: #3B4252;
}
